<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="../layui/css/layui.css">
		<link rel="stylesheet" href="../css/home.css">
		<style type="text/css">
			@charset "utf-8";
			/* layui修正 */
			.layui-form-label {
			    width: 130px;
			}
			.layui-textarea{
				width: 90%;
			}
		</style>
	</head>
	<body>
	<div class="container" style="margin-top: 15px;">
      <div class="row">
        <form id="marketAECForm" name="marketAECForm" action="#" method="post" onsubmit="" class="layui-form">
          <div class="layui-form-item">
            <label class="layui-form-label">活动目的</label>
            <div class="layui-input-inline">
              <input type="hidden" name="actv_no" id="actv_no" value="" />
              <input type="hidden" name="batch_no" id="batch_no" value="" />
              <select id="actv_target" name="actv_target" required lay-verify="required"></select>
            </div>
            <div class="layui-form-mid layui-word-aux">一些说明</div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">活动形式</label>
            <div class="layui-input-inline">
            	<select id="actv_style" name="actv_style" required lay-verify="required"></select>
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">活动类型</label>
            <div class="layui-input-inline">
            	<select id="actv_type" name="actv_type" required lay-verify="required"></select>
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">活动名称</label>
            <div class="layui-input-inline">
              <input id="actv_name" type="text" name="actv_name" required lay-verify="required" autocomplete="off" maxlength="50" class="layui-input">
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">活动时间</label>
            <div class="layui-input-inline">
              <input id="start_date" type="text" name="start_date" required lay-verify="required" placeholder="开始日期" autocomplete="off" readonly="readonly" class="layui-input" onclick="layui.laydate({elem: this, festival: true})">
            </div>
            <div class="layui-form-mid"> - </div>
            <div class="layui-input-inline">
              <input id="stop_date" type="text" name="stop_date" required lay-verify="required" placeholder="结束日期" autocomplete="off" readonly="readonly" class="layui-input" onclick="layui.laydate({elem: this, festival: true})">
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">规则组合条件</label>
            <div class="layui-input-inline">
              <select id="rule_type" name="rule_type" required lay-verify="required"></select>
            </div>
          </div>
          <!-- 特殊项 -->
          		<!-- 首刷激活 -->
          <div class="layui-form-item">
            <label class="layui-form-label">活动规则</label>
            <div class="layui-input-inline">
              <select id="ssjh" name="ssjh"></select>
            </div>
          </div>
          		<!-- 刷卡OR冻卡激活 -->
          <div class="layui-form-item">       	
            <label class="layui-form-label">刷卡笔数</label>
            <div class="layui-input-inline">
              <input id="skbs" type="text" name="skbs" autocomplete="off" class="layui-input">
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">单笔金额</label>
            <div class="layui-input-inline">
              <input id="dbje" type="text" name="dbje" autocomplete="off" class="layui-input">
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">累计金额</label>
            <div class="layui-input-inline">
              <input id="ljje" type="text" name="ljje" autocomplete="off" class="layui-input">
            </div>
          </div>
          		<!-- 分期 -->
          <div class="layui-form-item">
            <label class="layui-form-label">分期数</label>
            <div class="layui-input-inline">
              <select id="fqs" name="fqs"></select>
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">分期金额</label>
            <div class="layui-input-inline">
              <input id="fqje" type="text" name="fqje" autocomplete="off" class="layui-input">
            </div>
          </div>
          <!-- 特殊项结束 -->
          <div class="layui-form-item">
            <label class="layui-form-label">权益礼品</label>
            <div class="layui-input-inline">
              <input id="gift" type="text" name="gift" autocomplete="off" required lay-verify="number" class="layui-input">
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">短信模板</label>
            <div class="layui-input-block">
            	<textarea id="msg_tplt" name="msg_tplt" placeholder="请输入短信模板内容" required lay-verify="required" class="layui-textarea"></textarea>
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">参与方式</label>
            <div class="layui-input-inline">
              <select id="join_type" name="join_type" required lay-verify="required"></select>
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">活动名额</label>
            <div class="layui-input-inline">
              <input id="people_limit" type="text" name="people_limit" autocomplete="off" required lay-verify="number" class="layui-input">
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">预期成功比例</label>
            <div class="layui-input-inline">
              <input id="success_rate" type="text" name="success_rate" autocomplete="off" required lay-verify="required" class="layui-input">
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">活动概述</label>
            <div class="layui-input-block">
            	<textarea  id="desp" name="desp" placeholder="请输入活动概述内容" required lay-verify="required" class="layui-textarea"></textarea>
            </div>
          </div>
          <div class="layui-form-item">
            <div class="layui-input-block">
              <button lay-submit lay-filter="marketAECForm" class="layui-btn">保存</button>
              <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <script src="../js/jquery.min.js"></script>
    <script src="../layui/layui.js"></script>
    <script src="../js/public.js"></script>
	<script src="../js/marketAEC.js"></script>
	</body>
</html>
