<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=8">
  <title>信用卡营销管理系统</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/font-awesome.min.css">
  <link rel="stylesheet" href="../css/ionicons.min.css">
  <link rel="stylesheet" href="../plugins/datatables/dataTables.bootstrap.css">
  <link rel="stylesheet" href="../layui/css/layui.css">
  <link rel="stylesheet" href="../dist/css/AdminLTE.css">
  <link rel="stylesheet" href="../dist/css/skins/_all-skins.css">
  <link rel="stylesheet" href="../css/home.css">
  		<style type="text/css">
			@charset "utf-8";
			/* layui修正 */
			.layui-form-label {
				width: auto;
			}
			.layui-form-select{
				width: 120px;
			}
			#start_date,#stop_date{
				width: 100px;
			}
			form .layui-form-item .layui-input-inline {
				width: auto;
			}
			.layui-form-item {
				margin-bottom: 3px;
			}
		</style>
  <!--[if lt IE 9]>
		<script src="../js/html5shiv.min.js"></script>
		<script src="../js/respond.min.js"></script>
  <![endif]-->
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
  <header class="main-header">
    <a href="../index2.html" class="logo">
      <span class="logo-mini">MS</span>
      <span class="logo-lg">信用卡营销管理系统</span>
    </a>

    <nav class="navbar navbar-static-top">
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">导航按钮toggle</span>
      </a>
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <span class="hidden-xs">Admin</span>
            </a>
            <ul id="userMenu" class="dropdown-menu" role="menu">
              <li><a href="#">修改密码</a></li>
	            <li class="divider"></li>
	            <li><a href="#">退出</a></li>
            </ul>
          </li>
          <!-- Control Sidebar Toggle Button -->
          <li>
            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
          </li>
        </ul>
      </div>

    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- search form -->
      <form class="sidebar-form" onsubmit="search();return false;">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form>
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        <li class="header">导航栏</li>
        <li>
          <a href="../index2.html">
            <i class="fa fa-dashboard"></i> <span>首页概览</span>
          </a>
        </li>
        <li class="treeview">
          <a href="javascript:void(0);">
            <i class="fa fa-files-o"></i>
            <span>营销管理</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="marketActivity.html"><i class="fa fa-circle-o"></i>营销活动</a>
            	 	<!--<span class="pull-right-container">
              		<small class="label pull-right bg-blue">17</small>
            		</span>-->
            </li>
          </ul>
        </li>
        <li class="treeview active">
          <a href="javascript:void(0);">
            <i class="fa fa-envelope"></i>
            <span>进度提醒</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
          	<li><a href="progressMarket.html"><i class="fa fa-circle-o"></i>进度跟踪</a></li>
            <li class="active"><a href="progressRemind.html"><i class="fa fa-circle-o"></i>提醒任务</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="javascript:void(0);">
            <i class="fa fa-edit"></i> <span>系统管理</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="userManage.html"><i class="fa fa-circle-o"></i>用户管理</a></li>
          </ul>
        </li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <section class="content-header">
      <h1>中行信用卡营销管理系统
        <small>Version 1.0</small>
      </h1>
      <ol class="breadcrumb">
        <li><i class="fa fa-files-o"></i> 进度提醒</li>
        <li class="active"><a href="progressRemind.html">提醒任务</a></li>
      </ol>
    </section>
    <section class="content">
    	<div class="row">
        <div class="col-md-12">
					<div class="box">
            <div class="box-header">
              <h3 class="box-title">提醒任务</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="remindTable" class="table table-bordered table-striped">
                <thead>
                <tr>
                	<th>#</th>
                  <th>活动名称</th>
                  <th>任务名称</th>
                  <th>活动状态</th>
                  <th>短信模版</th>
                  <th>提醒客户</th>
                  <th>提醒详情</th>
                  <th>用户操作</th>
                </tr>
                </thead>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
      </div>
    </section>

  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 1.0.0
    </div>
    <strong>Copyright &copy; 2016-2017 188lanxi.com</strong> All rights reserved.
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <div class="tab-content">
      <!-- Home tab content -->
      <div class="tab-pane" id="control-sidebar-home-tab">
      </div>
    </div>
  </aside>

  <div class="control-sidebar-bg"></div>
</div>

<script src="../js/jquery.min.js"></script>
<script src="../bootstrap/js/bootstrap.min.js"></script>
<!-- DataTables -->
<script src="../plugins/datatables/jquery.dataTables.min.js"></script>
<script src="../plugins/datatables/dataTables.bootstrap.min.js"></script>
<script src="../dist/js/app.min.js"></script>
<script src="../plugins/slimScroll/jquery.slimscroll.min.js"></script>
<script src="../dist/js/ms.js"></script>
<script src="../layui/layui.js"></script>
<script src="../js/public.js"></script>
<script src="../js/progressRemind.js"></script>
</body>
</html>
